
html{
  padding:0px;
  position:relative;
}

body {
  background-color: #393E46;
  overflow: hidden;
}

h1 {
  color: black;
}

h2 {
color: black;
}

h3 {
color: black;
}


a:link { text-decoration: none; }

a:visited { text-decoration: none; }
  
a:hover { text-decoration: none; }
  
a:active { text-decoration: none; }
  
a{
  color:#EEEEEE;
  font-family: 'Arial Rounded MT Bold', sans-serif;
}
  
header{
  text-align:center;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  position: relative;
  top:0px;
}
#headertext{
  color:#AAD8D3;
  font-size:52px;
  background-color:#00ADB5;
  border-radius:5px;
  padding-top:10px;
  padding-bottom:10px;
  top: -25px;
  position:relative;
}
nav{
  font-size:36px;
  background-color:#AAD8D3;
  text-align:center;
  font-family: 'Arial Rounded MT Bold', sans-serif;
}
#about{
  top:182px;
  left:2%;
  background-color: #AAD8D3;
  position:absolute;
  border-radius:5px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
}

#home{
  top:105px;
  left:2%;
  background-color: #AAD8D3;
  position:absolute;
  border-radius:5px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:37px;
  padding-right:36px;
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

#whatmovie{
  position:relative;
  text-align:center;
  top:115px;
  color:#AAD8D3;
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

#search-input{
  position:relative;
  left:31%;
  top:120px;
  width:420px;
  border-radius:10px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:37px;
  padding-right:36px; 
  font-family: 'Arial Rounded MT Bold', sans-serif; 
}

#search-button{
  position:relative;
  left:31%;
  top:121px;
  border-radius:10px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;  
  font-size:16px;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  background-color:#AAD8D3;
  color:#EEEEEE;
}
#search-results{
  position:absolute;
  top:137%;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size:24px;
  left:31.45%;
  background-color: #00ADB5;
  border-radius:10px;
  width:450px;
  list-style-type:none;
}

#aboutTitle{
  position:relative;
  text-align:center;
  top:0px;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size:2em;
  color:#AAD8D3;
}

#aboutDescription{
  position:relative;
  text-align:center;  
  top:20px;
  width:900px;
  left:20%;
}

#aboutDescriptionText{
  font-size:1.35em;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color:#EEEEEE;
  border-radius:10px;
  line-height:1.5;
}

#aboutDescriptionTextEnd{
  font-size:1.35em;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color:#EEEEEE;
  border-radius:10px;
  line-height:1.5;
  font-weight:bold;
}

#specific-data{
  position: absolute;
  text-align: center;
}

#specific-data img{
  position: absolute;
  left: 235px;
  top: -70px;
  width:250px;
  height:350px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
}

#movietitle{
  font-size:30px;
  line-height:1.5;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  text-align: center;
  position: relative;
  color: #AAD8D3;
  top:-50px;  
  width:760px;
  left:380px;
  text-overflow:clip;
}

#specific-data p:nth-last-child(5){
  font-size:18px;
  line-height:1.5;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  text-align: left;
  top: -75px;
  width:500px;
  left: 520px;
  position: absolute;
  color: #EEEEEE;
}

#specific-data p:nth-last-child(4){
  font-size:18px;
  line-height:1.5;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  text-align: left;
  top: -30px;
  width:500px;
  left: 520px;
  position: absolute;
  color: #EEEEEE;
}

#specific-data p:nth-last-child(3){
  font-size:18px;
  line-height:1.5;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  text-align: left;
  top:15px;
  width:500px;
  left: 520px;
  position: absolute;
  color: #EEEEEE;
}

#specific-data p:nth-last-child(2){
  font-size:16px;
  line-height:1.5;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  text-align: left;
  top:85px;
  width:500px;
  left: 520px;
  position: absolute;
  color: #EEEEEE;
}

#postareview{
  left: 525px;
  font-size:36px;
  line-height:1.5;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  text-align: center;
  position: relative;
  color: #AAD8D3;
  top:-124px;
}

#filmtext{
  position:absolute;
  left:1125px;
  top:135px;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #EEEEEE;
  border-radius:5px;
  font-size:18px;
}

#reviewertext{
  position:absolute;
  left:1125px;
  top:200px;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #EEEEEE;
  border-radius:5px;
  font-size:18px;
}

#reviewertext{
  position:absolute;
  left:1125px;
  top:200px;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #EEEEEE;
  border-radius:5px;
  font-size:18px;
}

#commenttext{
  position:absolute;
  left:1125px;
  top:260px;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #EEEEEE;
  border-radius:5px;
  font-size:18px;
}

#rateitbelow{
  position:absolute;
  left:1125px;
  top:375px;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #EEEEEE;
  border-radius:5px;
  font-size:18px;
}

#recommendations{
  position:absolute;
  top: 565px;
  overflow:hidden;
  left:242px;
}

.movie img{
  width:115px;
  height:165px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
}

label{
  display:block;
}

.rate{
  position:relative;
  left:1125px;
  top:125px;
}

#buttonsubmit{
  position:relative;
  left:947px;
  top:170px;
  border-radius:5px;
}

#similarmoviestext{
  position:absolute;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #AAD8D3;
  font-size:24px;
  top:-500px;
}

.movie p {
  color:#EEEEEE;
  font-size:16px;
}

#reccmoviestext{
  color:#AAD8D3;
  font-size: 24px;
  position:relative;
  top:190px;
  left:65px;
}
